#container{
    height:200px;
    width:300px;
    background-color:yellow;
    position:relative;
}

.box{
    box-sizing: border-box;
    background-color: rgb(32, 32, 136);
}
#first , #third{
    height:85px;
    width:90px;

}
#third{
    position:absolute;
    bottom:0px;
}
#second{
    height:85px;
    width:190px;
    position:absolute;
    left:110px;
    top:0px;
}
#fourth{
    height:85px;
    width:190px;
    position:absolute;
    bottom:0px;
    left:110px;
}