#container{
    height:200px;
    width:300px;
    background-color:white;
    position:relative;

}
#circle{
    height:100px;
    width:100px;
    background-color:red;
    border-radius:50%;
    position: absolute;
    left:100px;
    top:50px;



}