*{
    padding:0%;
    margin:0%;

}
body{
    background-color:black;
    display: flex;
    justify-content:center;
    padding-top:30px;
}
.container{
    background-color:rgba(255, 255, 255, 0.241);
    border: solid;
    padding:10px;
    font-size:50px;
    width:50%;
    border-radius:5px;
    
}
p{
    margin:20%;
}