*{
    padding: 0%;
    margin:0%;
    box-sizing:border-box;
}
body{
    background-color:black;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.container{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows:repeat(8 ,1fr);
    background-color:pink;
    height:700px;
    width:700px;
}
.white{
    background-color:white;
}
.brown{
    background-color:brown;
}